html {
  background-color: #E4E8E7 !important;
  color: inherit;
}

.thumb-img {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15) !important;
  border-color: #FFFFFF !important;
  border-width: 3px !important;
}

#loupeContainer div.background {
  background-color: #E4E8E7 !important;
  color: inherit;
}

header div.background {
  background-color: #E4E8E7 !important;
  color: inherit;
}

.custom-colorable {
  fill: #D2D2D2 !important;
}

body {
  background-color: #E4E8E7 !important;
  color: #2A2A2A !important;
}
